@model ChangePasswordDataModel
@{
    ViewData["Title"] = "Настройки пользователя";
}
<p><a class="btn btn-primary" href="/home/userSettings?userId=@Model.User.Id">Вернуться к настройкам пользователя</a></p>
<div class="text-center">
    <h1 class="display-4">Изменить пароль</h1>
    @if (Model.Message?.Length > 0)
    {
        <p class="text-danger">@Model.Message</p>
    }
    <h1 class="display-6">@Model.User.GetFullName()</h1>
    <form method="post">
        @Html.Hidden("id", Model.User.Id)
        <p>
            <label>Новый пароль</label>
            @Html.TextBox("password", "", new Dictionary<string, object>() { { "class", "form-control" }, { "type", "password" } })
        </p>
        <p>
            <label>Подтвердите пароль</label>
            @Html.TextBox("confirmPassword", "", new Dictionary<string, object>() { { "class", "form-control" }, { "type", "password" } })
        </p>
        <p><button class="btn btn-primary">Изменить пароль</button></p>
    </form>
</div>